<ul class="list-policy list-unstyled">
  <li><span class="d-block fw-bold">販売業者</span> 株式会社 findU</li>
  <li><span class="d-block fw-bold">運営統括責任者名</span> 金善官</li>
  <li class="d-none"><span class="d-block fw-bold">住所</span> 東京都足立区西新井本町</li>
  <li class="d-none"><span class="d-block fw-bold">電話番号</span> 0120-29-1951</li>
  <li>
    <span class="d-block fw-bold">商品代金以外の料金の説明</span>
    <span class="d-block">配送料：660円（税込）</span>
    <span class="d-block">北海道・沖縄県 1,320円（税込）</span>
    <span class="d-block">20,000円（税込）以上のご購入で送料無料になります。</span>
    <span class="d-none"
      >代金引換決済でのご注文の場合、別途下記代引き手数料が発生します。 総合計金額（税込） 手数料（税込） 1万円未満
      330円 1万円以上～3万円未満 440円 3万円以上～10万円未満 660円 10万円以上～ 1,100円</span
    >
  </li>
  <li>
    <span class="d-block fw-bold">不良品</span>
    初期からの不良、内容相違などが認められる場合は、同等商品と交換、または返金いたします。
    ただし、在庫のない場合は、返金させていただきます。
  </li>
  <li>
    <span class="d-block fw-bold">販売数量</span> 原則サイト上に在庫表記があるもののみ。
    注文商品が在庫切れの場合はご連絡いたします。
  </li>
  <li>
    <span class="d-block fw-bold">引渡し時期</span> 商品の売買契約成立から2～5日後
    （予約商品・在庫切れ商品・注文内容に確認事項が発生した場合を除く）
  </li>
  <li>
    <span class="d-block fw-bold">お支払い方法</span> 以下のお支払い方法に対応しております。
    <ul class="list-unstyled list-inner-policy">
      <li>クレジットカード決済</li>
      <li>PayPal</li>
    </ul>
    <p>
      なお、コンビニ決済 / あと払い（ペイディ）/ 楽天ペイ / スマホ決済(QRコード) / au PAY による決済は、決済サービス
      KOMOJU を通じて行われます。
    </p>
  </li>
  <li>
    <span class="d-block fw-bold">お支払い期限</span> クレジットカード決済
    ご利用のクレジットカードの締め日や契約内容により異なります。 ご利用されるカード会社までご確認ください。
  </li>
  <li><span class="d-block fw-bold">返品について</span> 返品・交換についてをご確認ください。</li>
  <li><span class="d-block fw-bold">屋号またはサービス名</span> findU</li>
  <li><span class="d-block fw-bold">公開メールアドレス</span> info@find-live.com</li>
  <li><span class="d-block fw-bold">ホームページアドレス</span> https://findu-live.com</li>
</ul>
