<h1 class="visually-hidden">privicy policy</h1>
<p>
  findu株式会社（以下「当社」と記載します）は、お客様が当社の提供するサービスをご利用いただくにあたり、当社が取得したお客様の個人情報を適切に利用、保護し運営いたします。
</p>
<ul class="list-unstyled list-policy">
  <li>
    <span class="d-block fw-bold">1. 個人情報の定義</span>
    「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、および他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを示します。
  </li>
  <li>
    <span class="d-block fw-bold">2. 個人情報の収集</span>
    当社では商品のご購入、お問い合わせをされた際にお客様の個人情報を収集することがあります。
    収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。 当社で収集する個人情報は以下の通りです。
    <p>
      お名前、 フリガナ ご住所 生年月日 お電話番号 メールアドレス パスワード 配送先情報
      当ショップとのお取引履歴およびその内容 上記を組み合わせることで特定の個人が識別できる情報
    </p>
  </li>
  <li>
    <span class="d-block fw-bold">3. 個人情報の利用</span>
    当社ではお客様からお預かりした個人情報を、下記の目的のため、適正に利用いたします。
    ご登録時に利用者が希望された情報の提供を行うため 商品の発送およびお申込みの処理に関わる業務を行うため
    当選された方へのプレゼントの発送およびお申込みの処理に関わる業務を行うため
    ブランド、商品、店頭、各種優待施策、イベント、ポイントサービス等の各種サービスに関するご案内のため（電子メール、チラシ、カタログ、その他冊子等の郵送、電話等の方法による広告宣伝のご案内を含む）
    アンケートの実施のため 通信販売の場合の商品発送、代金決済、その配送に関してのご確認やご連絡のため
    商品等の研究開発、マーケティング、カスタマイズ、販売促進、サービス向上等に関する調査依頼または改善のため
    本人確認、認証サービスのため 上記の運用に関連し必要なご連絡のため
    当社では、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。
    法令に基づく場合、および国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
    人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
    当社を運営する会社の関連会社で個人データを交換する場合
    決済会社での本人確認、請求先確認および与信調査のため決済会社に個人情報を開示する場合
  </li>
  <li>
    <span class="d-block fw-bold">4.個人情報の開示等 当社は、</span
    >お客様ご本人より開示対象となる個人情報に関する利用目的の通知または開示、訂正・追加・削除、利用の停止・消去及び第三者への提供の停止のお申し出があったときは、法令等に従い、誠実に対応いたします。
    ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。
    ・本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
    ・当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合 ・その他法令に違反することとなる場合
    個人情報についての苦情・相談または個人情報の開示等の手続には、本人またはその代理人であることの確認が必要となります。
    個人情報に関する利用目的の通知または開示のお申し出につきましては、当社所定の手数料をご負担いただきますので、あらかじめご了承ください。
  </li>
  <li>
    <span class="d-block fw-bold">5. SSLの使用について 個人情報の入力時には、</span
    >セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets
    Layer）技術を使用しております。
    ※SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用することでより安全に情報を送信することが可能となります。
  </li>
  <li>
    <span class="d-block fw-block">6. 訪問・行動履歴情報を利用する広告の実施</span>
    当社では広告配信事業者の広告サービス（リマーケティング/リターケティング機能）を活用し、過去に当サイトを訪問された方に対して、インターネット上の様々なサイトで当社製品等のお知らせ（広告）を配信しております。この広告サービスでは、当サイトの訪問履歴情報を自動的に取得するためにクッキーが使用されていますが、その際、個人を特定・識別できるような情報は一切含まれておりません。
    こうしたお知らせ（広告）をご希望でない場合は、下記ページにアクセスし、それぞれのクッキーの使用を無効にしてください。但し、ブラウザの変更、クッキーの削除および新しいPCへ変更を行なった場合には再度設定が必要となります。
    Googleのオプトアウト（クッキーの無効化）ページ（Ads Preferences Manager）
    Yahoo!のオプトアウト（クッキーの無効化）ページ ＜ご参考＞ Googleのリマーケティングに関する説明
    Googleの広告のプライバシーに関するよくあるご質問のページ
  </li>
  <li>
    <span class="d-block fw-bold">7. 安全管理措置に関する事項</span>個人情報取扱事業者の情報は下記の通りです。
    マツオインターナショナル株式会社 住所：東京都渋谷区千駄ヶ谷4丁目20番10号 代表取締役社長 松尾 憲久
    当社は、個人データについて、漏えい、滅失またはき損の防止等、その管理のために必要かつ適切な安全管理措置を講じます。また、個人データを取り扱う従業者や委託先（再委託先等を含む）に対して、必要かつ適切な監督を行います。
    また、個人データの安全管理措置に関し、個人情報保護指針の策定、組織的安全管理措置、人的安全管理措置及び物理的安全管理措置及び技術的安全管理措置等各種ガイドラインの定めに基づき、適宜、実装し対応しております。
  </li>
  <li>
    <span class="d-block fw-bold">8. お問い合わせ先</span>
    ご提供いただいた個人情報の取扱いに関するご要望・お問い合わせは、下記お問い合わせ先までお願いいたします。
    メールアドレス：findugreat@gmail.com 受付時間：10時～17時（年末年始、土日祝日、特別休業日等を除く）
  </li>
  <li>
    <span class="d-block fw-bold">9. プライバシーポリシーの変更 当社では、</span
    >収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。
  </li>
</ul>
