<h1 class="tit-policy">会員登録について</h1>
<p>
  ご登録は無料で、その後の入会金、年会費等も一切不要です。 また、MY
  PAGEからお名前やご住所、お電話番号までご登録をしていただきますと、ご注文の際に個人情報の入力の手間が省け、E-MAIL・パスワードのみでオンラインショッピングがご利用できます。
</p>
<ul class="list-unstyled list-inner-policy">
  <li><span>会員特典 :</span>会員様限定キャンペーン</li>
  <li>
    <span>会員向けその他機能 :</span>
    ご注文履歴の確認 ポイント履歴の確認 （ポイント取得、ご利用の履歴を確認することができます。） 登録情報の確認・変更
    （ご登録いただいたお客様の情報が確認できます。） 注文者住所、配送先の追加 パスワードの変更
    （ご登録いただいたパスワードの変更ができます。）
  </li>
</ul>

<h1 class="tit-policy">販売価格について</h1>
<p>商品ページ記載の販売価格は税込価格です。</p>

<h1 class="tit-policy">お支払いについて</h1>
<p>決済方法は、クレジットカード決済,PayPalがご利用になれます。</p>

<ul class="list-unstyled list-policy">
  <li>
    <span class="d-block fw-bold">クレジットカード決済</span>
    VISA、MasterCard、JCB、AMERICAN EXPRESS、Diners Club お支払い方法は、一括払いのみとなります。
    予約商品をご注文された場合もその場で決済されます。
  </li>
  <li class="d-none">
    <span class="d-block fw-bold">Amazon Pay</span>
    Amazonの登録情報を使ってお買い物できるサービスです。
    Amazonに登録されたクレジットカード情報、住所を使って決済・ご注文が可能です。
    AmazonPayではご注文が完了していたとしても、決済完了には至っていない為、お客様のご利用いただいているカード情報によってはキャンセルとさせていただく場合がございます。
    その場合、有効期限切れ、与信不足等ご確認の上、再度お手続きをお願いいたします。 Amazon
    Payに関するお問い合わせはこちらまでお願いいたします。
  </li>
  <li class="d-none">
    <span>あと払い（ペイディ）</span>
    メールアドレスと携帯電話番号だけでご利用いただける決済方法です。 事前登録・クレジットカードは必要ありません
    1ヶ月分のお買い物回数にかかわらず、お支払いは翌月にまとめられます。

    1ヶ月分のご利用金額は、翌月1日に確定し、メールとSMSで通知されます。 下記のお支払い方法がご利用いただけます。
    口座振替（支払手数料：無料） コンビニ（支払手数料：356円税込） 銀行振込（支払手数料：金融機関により異なります。）
  </li>
  <li class="d-none">
    <span>コンビニ決済</span>
    お支払い可能なコンビニエンスストアは、 ローソン / ファミリーマート / ミニストップ / デイリーヤマザキ /
    セイコーマート です。 ご注文受付日の翌日を1日目として、3日目までにご入金ください。
    商品代金のお振込をもってご注文内容を確定させていただきます。
    ※決済システム「KOMOJU」「@komoju.com」から決済に関する案内メールが届きます。
    決済手数料190円(税込)はお客様負担となります。
    ご入金期限が経過して、且つご入金が確認できない場合は、ご注文の取り消し処理をさせていただきますので予めご了承ください。
  </li>
  <li class="d-none">
    <span>楽天ペイ</span>
    お持ちの楽天IDとパスワードを使ってスムーズなお支払いが可能です。
    ※楽天ポイントが貯まるのは楽天カード・楽天ポイント・楽天キャッシュでのお支払いに限ります。
  </li>
  <li class="d-none">
    <span>スマホ決済（QRコード）</span>
    PayPay、LINE Pay、メルペイをお使いいただけます。 別途お支払い情報の入力が必要です。
  </li>
  <li class="d-none">
    <span>au PAY</span>
    au PAYで、事前にチャージした電子マネー（au PAY残高）を使ってお支払いができます。 別途お支払い情報の入力が必要です。
    残高による一括払いのみとなり残高不足分の場合はご利用いただけません。
  </li>
  <li class="d-none">
    <span>代金引換決済</span>
    <p>
      商品到着時に商品代金をドライバーにお支払いいただく配送方法です。 ※別途、下記代金引換手数料が発生いたします。

      商品金額と送料に下記を追加した金額を送り状に記載いたします。
    </p>
  </li>
  <ul class="list-unstyled list-policy d-none">
    <li>総合計金額（税込） 手数料（税込）</li>
    <li>1万円未満 330円</li>
    <li>1万円以上～3万円未満 440円</li>
    <li>3万円以上～10万円未満 660円</li>
    <li>10万円以上～ 1,100円</li>
  </ul>
</ul>

<h1 class="tit-policy">送料について</h1>
<p>
  商品の発送は佐川急便にてお送りいたします。 配送料：送料660円 ※北海道・沖縄・離島 1,320円（税込）となります。
  20,000円（税込）以上のご購入で送料無料になります。
</p>
<span class="d-block">納期について</span>
通常、ご注文をいただいてから2～5営業日以内に佐川急便にて発送いたします。 ＜配達日のご指定について＞
お届け日時のご指定をされる場合は、カートページにて、ご希望の日時をお選びください。
※購入手続き画面（チェックアウト画面）では、配送日時指定ができません。必ず、先にカート画面でご入力をお済ませください。
商品の発送時にメールにて佐川急便の配送番号をお送りいたします。 下記よりお問い合わせいだけますようお願いいたします。
佐川急便配送番号お問い合わせ https://k2k.sagawa-exp.co.jp/p/sagawa/web/okurijoinput.jsp
<span class="d-block">配達時間帯のご指定について</span>
<ul class="list-unstyled list-policy">
  <li>午前中 （8時～12時）</li>
  <li>12時〜14時</li>
  <li>14時〜16時</li>
  <li>16時〜18時</li>
  <li>18時〜21時</li>
</ul>

<h1 class="tit-policy">ご注文のキャンセル・変更について</h1>
<p>
  ご注文確定後のキャンセルや、ご注文内容の変更は原則お承りできません。
  「注文確定」前に、ご注文内容をよくご検討ください。
</p>

<h1 class="tit-policy">返品・交換について</h1>
<p>商品のご返品・交換について下記のように定めさせていただいております。</p>

<ul class="list-unstyled list-policy">
  <li>
    <span class="d-block fw-bold">1. ご購入いただいた商品に不良がある場合</span>
    万が一、ご購入いただきました商品に不良や不具合があった場合は、
    不良箇所を確認の上、迅速に交換や返金の対応をさせていただきます。

    <span class="d-block">手続き</span>
    商品到着から7日以内にカスタマーサポート（info@find-live.com）までご連絡ください。スムーズな対応のため、ご注文番号、商品の内容、不良箇所の写真をお送りいただけますと幸いです。ご連絡いただきましたら、ご返送についてご案内をさせていただきます。
    商品到着から8日以降の返品はお受けできなくなりますのでご注意ください。
    返送に関わる送料は弊社で負担いたします。お手数ですが着払いでご返送ください。
    万が一、同一商品が品切れの場合はご返金とさせていただきます。
    ご返金は、返送いただいた商品の確認の後、対応いたします。

    ※本サイト以外からお買い上げいただきました商品は、直接の返品や交換はお受けする事ができません。お買い求めいただきました販売店へお問い合わせください。
  </li>
  <li>
    <span class="d-block fw-bold">2. 良品の返品・交換について</span>
    お客様のご都合で生じた良品のご返品に関しましては、原則お受けできません。
  </li>
</ul>

<h1 class="tit-policy">サイトのご利用について</h1>
<p>本サイトでは下記OS・ブラウザバージョンを推奨しております。</p>
<ul class="list-unstyled list-policy">
  <li>
    <span class="d-block fw-bold">Windowsをお使いの場合</span>
    推奨OS：Windows 8以降 推奨ブラウザ：Google Chrome 最新版、Microsoft Internet Explorer 最新版、Mozilla FireFox 最新版
  </li>
  <li>
    <span class="d-block fw-bold">Macintoshをお使いの場合</span>推奨OS：Mac OS X 10.6以降 推奨ブラウザ：Mozilla FireFox
    最新版、Safari 最新版、Google Chrome 最新版
  </li>
  <li>
    またJavaScriptを有効に設定した上でご利用ください。
    本サイトでは、個人情報を扱うページにおいてSSL（暗号化通信技術）を使用しています。
  </li>
</ul>

<h1 class="tit-policy">送信元メールのドメインについて</h1>
<p>
  ご注文についてのお知らせは、下記のドメインよりメールで送信されます。 @findu-live.com
  メール受信設定をドメインごとにされる場合は、上記ドメインをご設定ください。
</p>

<h1 class="tit-policy">お問い合わせ</h1>
<p>商品についてのお問い合わせはメールにて承っております。 下記メールフォームよりお問い合わせください。</p>

<h1 class="tit-policy">お問い合わせはこちら</h1>
<p>
  お問い合わせ受付時間 平日10:00～17:00 （土・日・祝日および弊社休業日は除く）
  上記日時にて原則3営業日以内にご返答させていただきます。
</p>
