
{% style %}
    .section--sticy-footer {
        position:relative;
        z-index:1
    }    
    .offcanvas.show {
    }
    .bottom---nav_container {
        width: 100vw;
        z-index: 10 !important;
        background-color: rgba(255,255,255,.6);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    .bottom---nav {
        display: flex;
        column-gap: 4px;
        padding: 12px 16px 8px 16px;
        height: 62px;
    }

{% endstyle %}
<section>
<div class="bottom---nav_container fixed-bottom">
    <div class="bottom---nav">    
    <a href=""> home</a>
    <a href=""> wishlist</a>
    <a href=""> my page</a>
    </div>
</div>
</section>
{% schema %}
{
  "name": "sticky footer",
  "tag": "section",
  "class": "section--sticy-footer",
}
{% endschema %}  